

.body {
  // background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading {
  background-color: black;
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
  pointer-events: none!important;
  z-index: 1000000;
}

.backBtn {
  font-size: 1.8em;
  margin-right: 0.5em;
  color: #1976d2;
}

.backBtn:hover {
  color: #12579c;
  background-color: rgba(25, 118, 210, 0.04);
}
