
.editbtn {
  color: black;
  margin-left: 10px;
}

.editbtn:hover {
  color: red;
}

.chip {
  margin: 0.3rem;
}

.topChips {
  display: flex;
  justify-content: center;
}

.teacherChips {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

